<div class="main-links">
    <div class="main-links__container main-width">
        <div class="main-links__title">
            <div>выбери</div>
            <div>раздел</div>
        </div>
        <div class="main-links__items">
            <a href="/salary.html" class="main-links__item">
                <img src="images/arrow.svg" alt="icon" />
                увеличение оклада
            </a>
            <a href="trip.html" class="main-links__item">
                <img src="images/arrow.svg" alt="icon" />
                командировка
            </a>
        </div>
    </div>
</div>