<div class="salary-links">
    <div class="salary-links__container main-width">
       <div class="salary-links__title">
            <img src="images/salary-main-title.svg" alt="icon" />
            <img src="images/star.gif" alt="Grown&Scale" class="salary-links__title-decor">
       </div>
        <div class="salary-links__items">
            <a href="#" class="salary-links__item" data-link="planned">
                плановый пересмотр
            </a>
            <a href="#" class="salary-links__item" data-link="unplanned">
                внеплановый пересмотр
            </a>
        </div>
</div>