.trip {
    &__block {
        display: flex;
        flex-direction: column;

        &--1 {
            background: var(--Main-Blue, #7280E5);
            padding: 60px 0 160px;  
            gap: 120px;
        }

        
        &--2 {
            background: var(--Light-Blue, #9FBAF1);
            padding: 120px 0 160px;  
           
        }

        &--3 {
            background: var(--Black, #1D1D1D);
             padding: 60px 0 180px; 
             gap: 160px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        &--1 {
            gap: 80px;
        }

        &--2 {
            gap: 120px;
        }

        &--3 {
            gap: 140px;
        }
    }

    &__main-title {
        text-align: center;
    }

     &__title {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        position: relative;
        z-index: 1;

        div {
            display: flex;
            padding: 12px 32px;
            flex-direction: column;
            align-items: flex-start;
            border-radius: 20px;
            border: 8px solid #000;
            font-family: "Compliance Sans";
            font-size: 80px;
            line-height: 100%;
            text-transform: uppercase;
        }

        &--1 {
            div {
                background: var(--Light-Blue, #9FBAF1);

                &:nth-child(2) {
                   background: var(--Main-Yellow, #EAF3B2);
                }

            }
        }

        &--2 {
            div {
                background: var(--Main-Yellow, #EAF3B2);

                &:nth-child(2) {
                   background: var(--Pink, #F3B2D9);
                }

            }
        }

        &--3 {
            width: 1410px;

            div {
                background: var(--Pink, #F3B2D9);

                &:nth-child(2) {
                   background: var(--Main-Yellow, #EAF3B2);
                }
                 &:nth-child(3) {
                    background: var(--Main-Blue, #7280E5);
                }
                  &:nth-child(4) {
                    background: var(--Light-Blue, #9FBAF1);
                    margin-left: auto;
                }
                  &:nth-child(5) {
                    background: var(--Main-Blue, #7280E5);
                }
                  &:nth-child(6) {
                    background: var(--Light-Blue, #9FBAF1);
                }
            }
        }
    }

    .main-rules {
        display: flex;
        align-items: flex-start;
        gap: 40px;

        &__note {
            display: inline-flex;
            padding: 12px 32px;
            flex-direction: column;
            align-items: flex-start;
            border-radius: 20px;
            border: 8px solid var(--Black, #1D1D1D);
            background: var(--White, #FDFDF5);
            font-weight: 700;
        }

        &__items {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
            width: 1107px;
        }

        &__item {
            padding: 40px;
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
            border-radius: 20px;
            border: 4px solid var(--Black, #1D1D1D);
            background: var(--Light-Blue, #9FBAF1);
            font-weight: 500;

            b {
                color: var(--White, #FDFDF5);
                font-style: italic;
                font-weight: 600;
            }
        }

        &__dop {
             display: flex;
            flex-direction: column;
            gap: 40px;
        }

        &__warning {
            display: flex;
            flex-direction: column;
            width: 533px;
            padding: 40px; 
            gap: 40px;
            border-radius: 20px;
            border: 4px solid var(--White, #FDFDF5);
            background: rgba(159, 186, 241, 0.35);
            color: var(--White, #FDFDF5);
            font-weight: 500;
        }

        &__images {
            position: relative;

            >div {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 40px; 
                width: 643px;

                div {
                    width: 439px;
                    display: inline-flex;
                    padding: 11px 26px;
                    flex-direction: column;
                    align-items: flex-start;
                    border-radius: 10px;
                    border: 4px solid #000;
                    background: var(--White, #FDFDF5);
                    font-family: "Pixelify Sans";
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 120%;
                    text-transform: uppercase;
                }
            }
        }

        &__decor {
            position: absolute;

            &--1 {
                top: 100px;
                left: 30px;
            }
             &--2 {
                top: 80px;
                right: 80px;
            }

              &--3 {
                bottom: 60px;
                right: 280px;
            }
        }
    }

    .types {
        display: flex;
        align-items: flex-start;
        gap: 40px;

        &__items {
             display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            flex: 1;
        }

        &__title {
            display: flex;
            padding: 6px 16px;
            flex-direction: column;
            align-items: flex-start;
            border-radius: 10px;
            border: 4px solid  #000;
            background: var(--Yellow-bright, #F4CE24);
            font-family: "Compliance Sans";
            font-size: 40px;
            font-weight: 400;
            line-height: 100%; 
            text-transform: uppercase;
        }

        &__item {
            display: flex;
            padding: 32px;
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
            align-self: stretch;
            border-radius: 20px 0 20px 20px;
            border: 8px solid var(--Dark-Blue, #3F4679);
            background: var(--White, #FDFDF5);
            box-shadow: 0 17px 0 0 #3F4679;
            font-size: 30px;
            font-weight: 500;
            letter-spacing: -0.66px;

            b {
                color: var(--Dark-Blue, #3F4679);
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        &__image {
            position: relative;
            padding-top: 30px;
        }

        &__decor {
            position: absolute;

            &--1 {
                left: 10px;
                top: 0;
                transform: rotate(15deg);
            }
            &--2 {
                right: -37px;
                bottom: 100px;
            }

            &--3 {
                top: 50px;
                left: 100px;
            }
        }
    }

    .rules {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 80px;

         &__item {
            display: flex;
            flex-direction: column;
            align-items: center;

            &-number {
                display: flex;
                width: 64px;
                padding: 6px 16px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                border: 4px solid var(--Black, #1D1D1D);
                background: var(--Pink, #F3B2D9);
                font-size: 40px;
                line-height: 100%;
                margin-bottom: -20px;
                z-index: 1;
            }

            &-text {
                width: 100%;
                display: flex;
                padding: 30px 40px;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                border-radius: 20px;
                background: var(--Main-Blue, #7280E5);
                color: var(--White, #FDFDF5);
                position: relative;
                box-shadow: 0 17px 0 0 #3F4679;
                font-weight: 500;

                 b {
                    font-style: italic;
                }
                
            }
        }

    }
}