@font-face {
  font-family: 'Compliance Sans';
  src: url("fonts/Faithful.ttf");
}

@font-face {
  font-family: 'Pixelify Sans';
  src: url("fonts/PixelifySans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-Regulat.ttf");
  
}

@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-Bold.ttf");
  font-weight: 700;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100%;
  width: 1900px;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

body {
  font-family: "Gilroy", sans-serif;
  font-size: 35px;
  line-height: 160%;
  font-weight: 400;
  position: relative;
  -webkit-text-size-adjust: none;
  margin: 0;
  background: var(--Main-Blue, #7280E5);
  color: var(--Black, #1D1D1D);

  &.trip {
    background: var(--Pink, #F3B2D9);
  }
} 

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s ease 0s;
}

input, textarea, select, button {
  font-family: inherit;
  outline: none;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button, textarea::-webkit-outer-spin-button, textarea::-webkit-inner-spin-button, select::-webkit-outer-spin-button, select::-webkit-inner-spin-button, button::-webkit-outer-spin-button, button::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration, textarea::-webkit-search-decoration, textarea::-webkit-search-cancel-button, textarea::-webkit-search-results-button, textarea::-webkit-search-results-decoration, select::-webkit-search-decoration, select::-webkit-search-cancel-button, select::-webkit-search-results-button, select::-webkit-search-results-decoration, button::-webkit-search-decoration, button::-webkit-search-cancel-button, button::-webkit-search-results-button, button::-webkit-search-results-decoration {
  display: none;
}
input:focus::placeholder, textarea:focus::placeholder, select:focus::placeholder, button:focus::placeholder {
  visibility: hidden;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

.main-width {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
} 

.h2 {
  font-weight: 500;
  font-size: 3.4vw;
  line-height: 125%;
  letter-spacing: -0.04em;

}

.salary {
  max-height: 0;
  overflow:hidden; 
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

@import 'header';

@import 'main-block'; 
@import 'main-links'; 
@import 'salary-links';
@import 'salary-planned';
@import 'salary-unplanned';
@import 'trip';
@import 'footer';  